# Data
/data/
/gradcam_poc/mitbih_test.csv
/gradcam_poc/mitbih_train.csv
/gradcam_poc/ptbdb_abnormal.csv
/gradcam_poc/ptbdb_normal.csv

# Checkpoints and Caches
.idea
.DS_Store
__pycache__

# Virtual Environment
/venv/
