# Data
/data/bidmc-congestive-heart-failure-database-1.0.0/
/data/mit-bih-normal-sinus-rhythm-database-1.0.0/
/data/processed_data/
/gradcam_poc/mitbih_test.csv
/gradcam_poc/mitbih_train.csv
/gradcam_poc/ptbdb_abnormal.csv
/gradcam_poc/ptbdb_normal.csv

# Checkpoints and Caches
.idea
.DS_Store
__pycache__
.ipynb_checkpoints

# Virtual Environment
/venv/

# Model
# /model/
